<section>
<h1 class="text-center mt-5 mb-3">Contact Us</h1>
     <div class="container col-lg-6">
          <div class="row">
               <div class="form-floating mb-3 ps-1">
                    <input #name type="text" class="form-control" id="floatingInputOne" placeholder="Amir">
                    <label for="floatingInputOne"> Your Name</label>
               </div>
               <div class="form-floating ps-1">
                    <input #email type=" email" class="form-control" id="floatingInputTwo" placeholder="Password">
                    <label for=" floatingInputTwo"> Email</label>
                  </div>
               <div class="form-floating mt-3 ps-1">
                    <textarea #comments class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Comments</label>
               </div>
          </div>
          <div class="row">
               <div class="ps-1">
                    <button (click)="onClick()" class="btn btn-primary my-3" *ngIf="!isCallingApi; else loading "> Submir</button>
                    <ng-template #loading>
                         <div class="d-flex align-items-center my-3">
                              <strong>Loading...</strong>
                              <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                            </div>
                    </ng-template>
               </div>
          </div>

          <div>
               <div class="alert alert-success" *ngIf="isSubmitted">
               <ul>
                    <li>{{Name}}</li>
                    <li>{{Email}}</li>
                    <li>{{Comments}}</li>
               </ul>
               </div>
          </div>
     </div>
</section>